.date-span {
    font-style: italic;
    color: rgb(181, 178, 178);
    margin: 5px
}

.review-user {
    margin: 5px
}

.review-paragraph {
    margin: 5px;
    margin-top: 10px;
}

.delete-button-modal-area>button {
    background-color: rgb(90, 87, 87);
    color: white;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
}
